

.carousel-caption {
left: 50% !important;
top: 50%;
transform: translate(-50%, -50%);

}
.carousel-caption h1 {
    font-weight: 900;

}
.carousel-caption h1 span{
        font-weight: 200;
    font-size: larger;
}

.wrapper { 
display:flex;
flex-shrink: 0;
align-items: center;
justify-content: space-around;
white-space: nowrap;
width: 100%;
}

.wrapper-img{
    flex: 1 1 200px;
    margin: 20px;
    min-width: 0;
}
.wrapper-img img {
    filter: grayscale(100%) brightness(0);
    -o-object-fit: contain;
    object-fit: contain;
    opacity: .2;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 75%;
}